/* CSS Document */
#wrap-img, #title-abstract, #wrap-python, #wrap-gym, #wrap-serpent, #title-rest {
	position: absolute;
}

/*Individual styles in relation to the img of the logo of brickbreaker. It constants from the other images in terms of the size of the width.*/
#wrap-img {
	width:80%;
	left:-25.8%;
	top:-35%;
}

#wrap-scratch {
	left:12.8%;
	width:5%;
	height:16%;
	top:-95%;
}

#title-rest {
	top:175%;
}

 #title-abstract {
  left:57.3%;
 }	

#wrap-python, #wrap-gym, #wrap-serpent {
	width:5%;
	height:16%;
	top:-95%;
}

#wrap-python {
	left:13.8%; 
}

#wrap-gym {
	left:-5.8%; 
}

#wrap-serpent {
	left:30.8%; 
}

@media only screen and (max-height: 1000px) and (min-height: 0px)  {
 #title-abstract {
   top:-165%; 
  }		
	#title-main {
	    top:-185%;
		left:-25.3%;
  }
}

@media only screen and (max-height: 2000px) and (min-height: 1001px)  {
 #title-abstract {
   top:-115%; 
  }	
	#title-main {
	    top:-155%;
		left:-15.3%;
  }
}





