/* CSS Document */


/*Individual styles in relation to the img. It constants from the other images in terms of the size of the width.*/
#wrap-img {
	width:80%;
	left:-25.8%;
	top:-70%;
}

#wrap-scratch {
	left:12.8%;
	width:5%;
	height:16%;
	top:-95%;
}




#title-main {
		left:-5.3%;
	    top:-155%;
}

#title-abstract {
 position: absolute;
 left:57.3%;
 top:-75%; 
}






